@tailwind base;
@tailwind components;
@tailwind utilities;

.reference-hover-div {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
  white-space: normal; /* Allow text to wrap */
  max-width: 300px; /* Limit the width */
  min-width: 270px;
  word-wrap: break-word; /* Break long words if necessary */
  transform: translateY(-100%);
}

.reference-hover-target {
  position: relative;
  display: ruby;
}

.reference-hover-target:hover .reference-hover-div {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.reference-hover-link {
  display: block;
  background-color: #8ecae6; /* Default background color */
  border: 1px solid black; /* Adds a black border */
  padding: 5px; /* Optional: Adds spacing */
  border-radius: 3px; /* Optional: Rounds the corners */
  transition: background-color 0.3s; /* Smooth transition effect */
}

.reference-hover-link:hover {
  background-color: darkgrey; /* Background color on hover */
}
